$background: var(--background);
$background-negative: var(--background-negative);
$background-primary: var(--background-primary);
$background-secondary: var(--background-secondary);
$background-tertiary: var(--background-tertiary);
$background-primary-disabled: var(--background-primary-disabled);
$background-primary-dimmed: var(--background-primary-dimmed);
$foreground: var(--foreground);
$foreground-negative: var(--foreground-negative);
$foreground-primary: var(--foreground-primary);
$foreground-secondary: var(--foreground-secondary);
$foreground-tertiary: var(--foreground-tertiary);
$foreground-primary-disabled: var(--foreground-primary-disabled);
$foreground-primary-dimmed: var(--foreground-primary-dimmed);
$border: var(--border);
$shadow: var(--shadow);
$black-10: var(--black-10);
$black-20: var(--black-20);
$black-30: var(--black-30);
$black-40: var(--black-40);
$black-50: var(--black-50);
$black-60: var(--black-60);
$black-70: var(--black-70);
$black-80: var(--black-80);
$black-90: var(--black-90);

$font-primary: var(--font-primary);
$font-secondary: var(--font-secondary);
$font-size: var(--font-size);
$font-size-xs: var(--font-size-xs);
$line-height: var(--line-height);
$font-weight: var(--font-weight);
$font-extralight: var(--font-extralight);
$font-light: var(--font-light);
$font-regular: var(--font-regular);
$font-medium: var(--font-medium);
$font-semibold: var(--font-semibold);
$font-bold: var(--font-bold);
$font-extrabold: var(--font-extrabold);
$font-black: var(--font-black);
$btn-radius: var(--btn-radius);
$card-radius: var(--card-radius);
$bullet-size: var(--bullet-size);
