<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en">

<head>
	<meta charset="utf-8" />
	<base href="<!--@@var=baseHref-->">
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1, user-scalable=no">
	<meta name="Content-Language" content="it" />
	<meta name="robots" content="noindex,nofollow" />
	<title>Terranova Software</title>
	<link rel="shortcut icon" href="<!--@@var=baseHref-->img/icons/favicon.ico">
	<link rel="apple-touch-icon" sizes="180x180" href="<!--@@var=baseHref-->img/icons/apple-touch-icon.png">
	<link rel="icon" type="image/png" sizes="32x32" href="<!--@@var=baseHref-->img/icons/favicon-32x32.png">
	<link rel="icon" type="image/png" sizes="16x16" href="<!--@@var=baseHref-->img/icons/favicon-16x16.png">
	<link rel="manifest" href="<!--@@var=baseHref-->img/icons/site.webmanifest">
	<link rel="mask-icon" href="<!--@@var=baseHref-->img/icons/safari-pinned-tab.svg" color="#5bbad5">
	<meta name="msapplication-TileColor" content="#da532c">
	<meta name="theme-color" content="#ffffff">
	<meta name="description" content="Terranova Software">
	<meta name="apple-mobile-web-app-title" content="Terranova Software">
	<meta name="application-name" content="Terranova Software">
	<link rel="stylesheet" href="<!--@@var=baseHref-->css/vendors.min.css" />
	<link rel="stylesheet" href="<!--@@var=baseHref-->css/main.min.css" />
	<!-- @@placeholder= css -->
</head>

<body>
	<!-- @@include ./shared/svg.html -->
	<div class="app hidden" app-component>
		<!-- @@include ./shared/header.html -->
		<!-- @@placeholder= main -->
		<!-- @@include ./shared/footer.html -->
	</div>
	<script src="https://polyfill.io/v3/polyfill.min.js?features=es5%2CString.prototype.includes%2CObject.values%2CArray.prototype.fill%2CArray.prototype.find%2CArray.from%2Cfetch%2CObject.assign%2CURLSearchParams%2CElement.prototype.classList%2CNode.prototype.contains%2CNodeList.prototype.forEach%2CCustomEvent%2CAudioContext"></script>
	<script src="<!--@@var=baseHref-->js/vendors.min.js"></script>
	<script src="<!--@@var=baseHref-->js/main.js"></script>
	<!-- @@placeholder= js -->
</body>

</html>
