<!-- footer -->
<div class="footer__menu" [class]="{ active: showMenu }" footer-menu [slides]="slides" [active]="showMenu" [chapterIndex]="chapterIndex" [itemIndex]="itemIndex" (nav)="onMenuNav($event)"></div>
<footer class="footer">
	<div class="group--left">
		<img class="logo" src="img/logo.png" title="Terranova" (click)="onClickTerranova()" />
	</div>
	<div class="group--center">
		<div class="group--chapter">
			<!--
			<button type="button" class="btn--chapter" (click)="onPreviousChapter()" *if="previousChapter">
				<svg class="arrow-left-thin"><use xlink:href="#arrow-left-thin"></use></svg>
			</button>
			-->
			<div class="btn--chapter">
				<span [innerHTML]="currentChapter?.name"></span>
			</div>
		</div>
		<button type="button" class="btn--menu" (click)="onToggleMenu()">
			<img src="img/badge.png" />
		</button>
		<div class="group--chapter"></div>
	</div>
	<div class="group--right">
		<button type="button" class="btn--chapter" (click)="onNextChapter()" *if="nextChapter">
			<span [innerHTML]="nextChapter.name"></span> <svg class="arrow-right-thin"><use xlink:href="#arrow-right-thin"></use></svg>
		</button>
	</div>
</footer>
