.appear-stagger {
	@media screen {
		&:not(.print) {
			&:not(.appeared) {
				&>* {
					opacity: 0;
				}
			}

			&.appeared {
				&>* {
					animation: appear-bottom 350ms 350ms cubic-bezier(0.250, 0.460, 0.450, 0.940) backwards;

					@for $i from 1 through 50 {
						&:nth-child(#{$i}) {
							animation-delay: #{0.3 + $i * .2}s;
						}
					}
				}
			}
		}
	}
}

@keyframes appear {
	0% {
		opacity: 0;
	}

	100% {
		opacity: 1;
	}
}

@keyframes appear-bottom {
	0% {
		transform: translateY(10px);
		opacity: 0;
	}

	100% {
		transform: translateY(0);
		opacity: 1;
	}
}
