%swiper {

	@media screen {
		line-height: 0;

		.swiper-pagination-bullets {

			&,
			.swiper-container-horizontal>& {
				position: relative;
				display: flex;
				justify-content: center;
				align-items: center;
				flex-wrap: wrap;
				padding: 20px 0;
				bottom: 0;
			}
		}

		.swiper-pagination-bullet {
			display: inline-block;
			position: relative;
			width: 18px;
			height: 18px;
			border-radius: 9px;
			border: 2px solid rgba(#16255b, 0.5);
			background: transparent;
			opacity: 1;
			outline: none;

			&:before {
				content: '';
				display: block;
				position: absolute;
				top: 50%;
				left: 50%;
				margin-top: -4px;
				margin-left: -4px;
				width: 8px;
				height: 8px;
				border-radius: 4px;
				background: #16255b;
				opacity: 0;
				transition: opacity ease-in-out 350ms;
			}

			&:hover:before {
				opacity: 1;
			}
		}

		.swiper-pagination-bullet-active {
			&:before {
				opacity: 1;
			}
		}

		&>.swiper-pagination-bullets .swiper-pagination-bullet {
			margin: 0 4px 4px 0;
		}

		.swiper-button-next,
		.swiper-button-prev {
			outline: 0;
			/*
			background: $background-tertiary;
			width: 50px;
			height: 50px;
			border-radius: 50%;
			*/

			&:after {
				// font-size: 2.8rem;
				// color: $foreground;
				text-shadow: 0 2px 4px $black-20;
			}
		}

		@include media-down(xs) {

			.swiper-button-next,
			.swiper-button-prev {
				display: none;
			}
		}
	}
}

%swiper-hero {
	@extend %swiper;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;

	.background {
		img {
			transform: scale(1.2);
			transition: all ease-out 600ms;
		}
	}

	.swiper-slide-active {
		z-index: 1;

		.background {
			img {
				transform: scale(1);
			}
		}
	}

	.swiper-slide {
		position: relative;
		width: 100%;
		height: 100%;
		text-align: left;
		align-items: flex-start;
	}

	@media screen {
		position: relative;

		.swiper-pagination-bullet {
			border-color: rgba(white, 0.5);

			&:before {
				background: white;
			}
		}

		@include media-up(sm) {
			.swiper-pagination-bullets {

				&,
				.swiper-container-horizontal>& {
					bottom: 85px;
				}
			}
		}

		@include media-down(xs) {
			.swiper-pagination-bullets {

				&,
				.swiper-container-horizontal>& {
					bottom: 62px;
				}
			}
		}

	}
}

%swiper-slides {
	@extend %swiper;
	overflow: visible;

	.swiper-slide {
		.inner {
			display: none;
			position: relative;
			width: 300%;
			left: -100%;
			transition: all 700ms 0ms cubic-bezier(0.320, 0.000, 0.290, 0.990);
		}
	}

	.swiper-slide-active {
		.inner {
			display: block;
			transform: scale(1);
		}
	}

	.swiper-slide-prev {
		.inner {
			display: block;
			transform: scale(0.75);
		}
	}

	.swiper-slide-next {
		.inner {
			display: block;
			transform: scale(0.75);
		}
	}

	.swiper-slide-active {
		z-index: 1;
	}

	@include media-down(sm) {
		.container {
			padding: 0;
		}

		/*
		.swiper-slide {
			&>.inner {
				&>.container {
					padding: 0;
				}
			}
		}
		*/
	}
}

.nav--slides {
	@extend %nav-grid;
}

.section--slides {
	padding: 60px 0;
	overflow: hidden;

	.swiper-container {
		@extend %swiper-slides;
	}

	&__title {
		@extend %category;
		margin-bottom: 30px;
	}

	@include media-down(sm) {
		padding: 15px 0 40px 0;

		&__title {
			padding: 0 30px;
		}
	}
}

.section--listing {
	overflow: hidden;

	.swiper-container {
		@extend %swiper-slides;

		@include media-up(lg) {
			.swiper-slide {
				width: calc(33% - 20px);
			}
		}

		@include media-down(md) {
			.swiper-slide {
				width: calc(50% - 15px);
			}
		}

		@include media-down(xs) {
			.swiper-slide {
				width: 100%;
			}
		}
	}

	&.lg {
		.swiper-container {
			@include media-up(lg) {
				.swiper-slide {
					width: calc(50% - 20px);
				}
			}

			@include media-down(md) {
				.swiper-slide {
					width: calc(50% - 15px);
				}
			}

			@include media-down(xs) {
				.swiper-slide {
					width: 100%;
				}
			}
		}
	}

	@include media-down(xs) {
		padding: 40px 0 10px 0;
	}
}
