/*
@font-face {
	font-family: 'GT Walsheim';
	font-weight: 100;
	src: url("../fonts/gt-walsheim/GT-Walsheim-Ultra-Light.eot");
	src: url("../fonts/gt-walsheim/GT-Walsheim-Ultra-Light.eot?#iefix") format("embedded-opentype"), url("../fonts/gt-walsheim/GT-Walsheim-Ultra-Light.woff") format("woff"), url("../fonts/gt-walsheim/GT-Walsheim-Ultra-Light.ttf") format("truetype");
}
*/

@font-face {
	font-family: 'GT Walsheim';
	font-weight: 300;
	src: url("../fonts/gt-walsheim/GT-Walsheim-Light.eot");
	src: url("../fonts/gt-walsheim/GT-Walsheim-Light.eot?#iefix") format("embedded-opentype"), url("../fonts/gt-walsheim/GT-Walsheim-Light.woff") format("woff"), url("../fonts/gt-walsheim/GT-Walsheim-Light.ttf") format("truetype");
}

@font-face {
	font-family: 'GT Walsheim';
	font-weight: 400;
	src: url("../fonts/gt-walsheim/GT-Walsheim-Regular.eot");
	src: url("../fonts/gt-walsheim/GT-Walsheim-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/gt-walsheim/GT-Walsheim-Regular.woff") format("woff"), url("../fonts/gt-walsheim/GT-Walsheim-Regular.ttf") format("truetype");
}

/*
@font-face {
	font-family: 'GT Walsheim';
	font-weight: normal;
	src: url("../fonts/gt-walsheim/GT-Walsheim-Regular.eot");
	src: url("../fonts/gt-walsheim/GT-Walsheim-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/gt-walsheim/GT-Walsheim-Regular.woff") format("woff"), url("../fonts/gt-walsheim/GT-Walsheim-Regular.ttf") format("truetype");
}
*/

@font-face {
	font-family: 'GT Walsheim';
	font-weight: 600;
	src: url("../fonts/gt-walsheim/GT-Walsheim-Bold.eot");
	src: url("../fonts/gt-walsheim/GT-Walsheim-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/gt-walsheim/GT-Walsheim-Bold.woff") format("woff"), url("../fonts/gt-walsheim/GT-Walsheim-Bold.ttf") format("truetype");
}

/*
@font-face {
	font-family: 'GT Walsheim';
	font-weight: bold;
	src: url("../fonts/gt-walsheim/GT-Walsheim-Bold.eot");
	src: url("../fonts/gt-walsheim/GT-Walsheim-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/gt-walsheim/GT-Walsheim-Bold.woff") format("woff"), url("../fonts/gt-walsheim/GT-Walsheim-Bold.ttf") format("truetype");
}
*/

@font-face {
	font-family: 'GT Walsheim';
	font-weight: 800;
	src: url("../fonts/gt-walsheim/GT-Walsheim-Black.eot");
	src: url("../fonts/gt-walsheim/GT-Walsheim-Black.eot?#iefix") format("embedded-opentype"), url("../fonts/gt-walsheim/GT-Walsheim-Black.woff") format("woff"), url("../fonts/gt-walsheim/GT-Walsheim-Black.ttf") format("truetype");
}
